{% extends '../base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        {% if form.errors %}
            <p class="bs-danger-text">Seu nome de usuário ou senha estão incorretos.</p>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p class="bs-danger-text">Você não tem permissões para acessar a página de admin</p>
            {% else %}
                <p>Login para ver a página</p>
            {% endif %}
        {% endif %}
        <div class="col-lg-6 m-auto">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Logar no Bolão</h1>
                <div class="form-floating">
                    <input type="text" id="login_user" class="form-control" placeholder="Nome de Usuário">
                    <label for="login_user">Nome de Usuário</label>
                </div>
                <div class="form-floating">
                    <input type="password" id="login_pwd" class="form-control" placeholder="Senha">
                    <label for="login_pwd">Senha</label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Logar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}